.button {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;

	width: 200px;
	height: 50px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;

	color: $secondaryColor;
	background-color: $accentGeneral;
	border-color: $accentGeneral;

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	cursor: pointer;

	transition: background-color 250ms $timeTransition;

	&:hover,
	&:focus {
		background-color: $accentButton;
		outline: transparent;
	}
}
