.clients {
	display: flex;
	align-items: center;
	gap: 30px;
}

.clients__item {
	width: 170px;
	height: 92px;
}

.clients__link {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	color: $iconColor;
	border: 1px solid $iconColor;

	border-radius: 4px;

	transition: color 250ms $timeTransition, outline-color 250ms $timeTransition, border-color 250ms $timeTransition;
}

.clients__icon {
	display: block;
	fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
	color: $accentGeneral;
	border-color: $accentGeneral;

	outline-color: $accentGeneral;
}
