.filter {
	display: flex;
	justify-content: center;
	gap: 8px;

	margin-bottom: 50px;

	&__current {
		padding: 6px 25px;

		background-color: $accentGeneral;
		color: $secondaryColor;

		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
	}

	&__button {
		padding: 6px 22px;

		color: $headerColor;
		background-color: $bcgSecondary;

		font-family: inherit;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: 0.03em;

		cursor: pointer;

		border-radius: 4px;
		border: none;

		transition: color 250ms $timeTransition, background-color 250ms $timeTransition, box-shadow 250ms $timeTransition;

		&:hover,
		&:focus {
			background-color: $accentGeneral;
			color: $secondaryColor;

			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

			outline: transparent;
		}
	}
}
