%logo {
	color: $accentGeneral;

	font-family: $fontLogo;
	font-size: 26px;
	line-height: 1.19;
}

@mixin changelogo($color) {
	color: $color;
}

.logo-header {
	@extend %logo;
	margin-right: 93px;

	&__part {
		@include changelogo($logoPartHeader);
	}
}

.logo-footer {
	@extend %logo;

	display: inline-block;
	margin-bottom: 20px;

	&__part {
		@include changelogo($logoPartFooter);
	}
}
