.overlay {
	position: relative;
	overflow: hidden;
}

.overlay__text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;

	color: $secondaryColor;
	background-color: $bcgOverlayPortfolio;

	transform: translateY(100%);
	transition: transform 250ms $timeTransition;
}
