.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.first-section {
	padding-bottom: 0;
}

.section-team {
	background-color: $bcgSecondary;
}

.section__title {
	margin-bottom: 50px;

	color: $headerColor;

	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-align: center;
}
