.studio-adress__item:not(:last-child) {
	margin-bottom: 9px;
}

%studio-adress__link {
	font-style: normal;
	line-height: 1.71;

	transition: color 250ms $timeTransition;

	&:hover,
	&:focus {
		color: $accentGeneral;

		outline: transparent;
	}
}

.studio-adress__link--light {
	@extend %studio-adress__link;
	color: $secondaryColor;
}
.studio-adress__link--dark {
	@extend %studio-adress__link;
	color: $adressColor;
}
